body {
    background-color: black;
}

div {
    width: 45%;
    margin-left: 25%;
    /*Đoạn này code tự nghĩ*/
    margin-top: 50px;
    color: white;
    font-family: "Libre Baskerville", sans-serif;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}
